In [1]:
import os
os.chdir("../") # resets notebook directory to repository root folder (DO ONLY ONCE!)
import polars as pl
import pandas as pd
import pyarrow.parquet as pypq
import textwrap
from pathlib import Path
import time

from tqdm.auto import tqdm
tqdm.pandas()

/data/home/ahw701/env_enrico/envs/gt_rocky/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import sys
# Add utils directory in the list of directories to look for packages to import
sys.path.insert(0, os.path.join(os.getcwd(),'utils'))
from read_parquet import *

Using PyArrow strings!

In [3]:
works_by_topic_parquet_folder = "data/works_by_topic_parquet/"
all_works2primary_topic_parquet_folder = "data/all_works2primary_topic_parquet/"
os.makedirs(all_works2primary_topic_parquet_folder, exist_ok=True)

In [4]:
topics = [topic[:-8] for topic in os.listdir(works_by_topic_parquet_folder)]

In [5]:
len(topics)

4516

In [8]:
topic = topics[0]
all_works_df = read_parquet(works_by_topic_parquet_folder+topic, columns = ["id", "date", "primary_topic"])

Reading 'T14064' from 'data/works_by_topic_parquet/T14064.parquet' using engine='pyarrow'
Read 22,138 rows from 'T14064' in 0.01 sec.
Converting dtypes took 0.00 sec. Size before: 0.00GB, after: 0.00GB

            id        date primary_topic
0  W4410793892  2025-05-28        T14064
1  W4410791727  2025-05-27        T14064
2  W4410789294  2025-05-27        T14064

In [9]:
for topic in tqdm(topics[1:]):
    tmp_works_df = read_parquet(works_by_topic_parquet_folder+topic, columns = ["id", "date", "primary_topic"], quiet = True)
    all_works_df = pd.concat([all_works_df, tmp_works_df], ignore_index=True)

100%|██████████| 4515/4515 [02:20<00:00, 32.22it/s]

In [10]:
all_works_df.to_parquet(all_works2primary_topic_parquet_folder+"all_works2primary_topic.parquet", compression = "brotli")

In [11]:
peek_parquet(all_works2primary_topic_parquet_folder+"all_works2primary_topic.parquet")

Name: 'all_works2primary_topic'
Path: 'data/all_works2primary_topic_parquet/all_works2primary_topic.parquet'
Files: 1
Rows: 210,864,615
Schema:
    id: large_string
    date: large_string
    primary_topic: large_string
    -- schema metadata --
    pandas: '{"index_columns": [{"kind": "range", "name": null, "start": 0, "' + 602
5 random rows:

            id        date primary_topic
0  W4410793892  2025-05-28        T14064
1  W4410791727  2025-05-27        T14064
2  W4410789294  2025-05-27        T14064
3  W4410786447  2025-05-27        T14064
4  W4410778805  2025-05-27        T14064